/* Clash display */

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-EL';
  src: url('../ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Extralight.otf') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('../ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Light.otf') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Semi';
  src: url('../ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* Outfit */
@font-face {
  font-family: 'Outfit-Regular';
  src: url('../Outfit_Complete/Outfit_Complete/Fonts/OTF/Outfit-ExtraLight.otf') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url('../Outfit_Complete/Outfit_Complete/Fonts/OTF/Outfit-Bold.otf') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* panchang */
@font-face {
  font-family: 'Panchang-Regular';
  src: url('../Panchang_Complete/Panchang_Complete/Fonts/OTF/Panchang-Regular.otf') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Semi';
  src: url('../Panchang_Complete/Panchang_Complete/Fonts/OTF/Panchang-Semibold.otf') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* Switzer */
@font-face {
  font-family: 'Switzer-Bold';
  src: url('../Switzer_Complete/Switzer_Complete/Fonts/OTF/Switzer-Bold.otf') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-Light';
  src: url('../Switzer_Complete/Switzer_Complete/Fonts/OTF/Switzer-Regular.otf') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-El';
  src: url('../Switzer_Complete/Switzer_Complete/Fonts/OTF/Switzer-Regular.otf') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-Regular';
  src: url('../Switzer_Complete/Switzer_Complete/Fonts/OTF/Switzer-Regular.otf') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}



::selection {
    background-color: #ff8635; 
}

:root{
    --color-light : rgb(0, 0, 0);
    --color-light-tp : rgba(0, 0, 0, 0.61);
    --color-dark : rgb(255, 255, 255);
    --b-color: #cecece;
    --color-highlight : rgb(44, 111, 255);
}

html {
  scroll-behavior: smooth;
  
}
html::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

body.inverted {
  --color-light : white;
  --color-dark : rgb(0, 0, 0);
  --b-color:#888888;
  --color-sec:rgb(102, 102, 102);
}

body.inverted .icons{
    filter: invert(1) hue-rotate(180deg);
}

body.inverted .home p, footer p{
    color: white;
}

body{
    max-width: 100vw;
    background: url(../gif.gif);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family:'Outfit-Regular';
    color: var(--color-light);
}

/* Navbar */
header{
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

}

header div{
    flex: 1;
}

section {
    padding: 16px 8px;
}

h1{
    margin: 8px 0px;
    font-family: 'ClashDisplay-Semi';
}

h2{
    margin: 8px 4px;
    font-family: 'ClashDisplay-Regular';
}

button{
    font-family: 'Switzer-regular';
}

.logo{
    background: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 8px;

}

.navi button{
    border-radius: inherit;
    pointer-events: all;
    color: var(--color-dark);
    margin: 0;
    z-index: 1000;
    transition: 0.3s;
}

.navi button:hover{
    letter-spacing: 2px;
    background-color: var(--color-highlight);
    color: var(--color-light);
    
}


.navi{
    gap: 5px;
    pointer-events: none;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    background-color: var(--color-light-tp);
    border-radius: 2.5vh;
    backdrop-filter: blur(8px);
    overflow: hidden;

}

.theme{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 8px;
}

.pager{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 90px;
    color: var(--color-dark);
    background: none;
    outline: none;
    border: none;
    
}

#pg{
    cursor: pointer;

}


.heading{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    position: sticky; 
    top: 0;        
    z-index: 1;   

    font-family: 'ClashDisplay-semi';
    font-size: 60px;
    transition: 0.3s;
}

.heading p{
    margin: 0;
}

.invert-btn{
    background: none;
    border: none;
    height: 90%;
    width: auto;
}


#title{
	visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-light);
    position: fixed;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
    font-size: 80px;
    font-family: 'ClashDisplay-Semi'; 
    
    /* isolation: isolate; */
    /* mix-blend-mode: difference; */
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--color-light);
    
    color: var(--color-dark);

}

.foot{
    display: flex;
    justify-content: end;
}

.foot h4{
    color: var(--b-color);
    font-family: 'ClashDisplay-Regular';
}

.sect{
    display: flex;
    flex-direction: column;
    width: 20%;
}

footer ul{
    list-style-type: none;
}

.flow {
    font-size: 16px;
    padding: 4px 0px;
    display: flex;
    justify-content: start;
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-dark);
    width: 80%;
    color: var(--color-dark);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: 0.3s;
}

.flow::before {
    content: "";
    position: absolute;
    background-color: var(--color-dark);
    bottom: -200%; 
    left: 0;
    width: 100%;
    height: 200%;  
    z-index: -1;    
    transition: bottom 0.3s ease;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
}

.flow:hover::before {
    bottom: 0; 
}

.flow:hover {
    color: var(--color-light); 
}

.flow-inv {
    font-size: 16px;
    display: flex;
    justify-content: start;
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-light);
    color: var(--color-light);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: 0.3s;
}

.flow-inv::before {
    content: "";
    position: absolute;
    background-color: var(--color-light);
    bottom: -200%; 
    left: 0;
    width: 100%;
    height: 200%;  
    z-index: -1;    
    transition: bottom 0.3s ease;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
}

.flow-inv:hover::before {
    bottom: 0; 
}

.flow-inv:hover {
    color: var(--color-dark); 
}

.str{
    font-size: 16px;
    display: flex;
    justify-content: start;
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-light);
    color: var(--color-light);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: 0.3s;
}

.str::before{    
    content: "";
    position: absolute;
    background-color: var(--color-light);
    bottom: -200%; 
    left: 0;
    width: 100%;
    height: 200%;  
    z-index: -1;    
    transition: bottom 0.3s ease;
}

.str:hover{
    color: var(--color-dark); 

}

.str:hover::before{
    bottom: 0; 

}

.soc{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.soc a{
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}

footer .name{
    color: var(--color-dark);
    font-family: 'Panchang-Semi';
    font-size: 120px;
    margin: 8px;
}

.end p{
    color: var(--color-dark);
}


.split{
    overflow: hidden;
    line-height: 50px;
}

@keyframes loader{
    0%{
        top: 100vh;
        visibility: visible;
    }

    50%{
        top: 0;
    }

    100%{
        top: -100vh;
    }
}

