
/* Contact start */

.contact{
    background-color: var(--color-dark);
    display: flex;
    min-height: 100vh;
    align-items: start;
    border: 1px solid var(--b-color);
    border-bottom: none;
}

.c-form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.c-form {
  max-width: 500px;
  padding: 8px 16px;
  text-align: start;
  justify-content: start;
}

.c-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--color-light);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--color-light);
}

input, textarea {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--b-color);
  font-size: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input, textarea, .c-form button {
  width: 100%;
  background-color: var(--color-dark);
  padding: 12px 16px;
  border: 1px solid var(--b-color);
  font-size: 15px;
  border-radius: 2px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.c-form button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  outline: 1px solid var(--b-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.c-form button:hover {
     -webkit-animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
