
.punchlines{
    font-size: 60px;
    margin: 4px 0px;
    width: max-content;
    color: var(--color-light);
    background-color: var(--color-dark);
    transition: 0.5s;
    position: relative;
    z-index: 1;
    font-family: 'Switzer-Regular';
    text-transform: uppercase;
    margin: 0;
}

.punchlines::before{
    position: absolute;
    content: "";
    left: -10;
    width: 2px;
    height: 100%;
    z-index: -1;
    transition: 0.8s width;
}

.punchlines.showlef{
    color: var(--color-dark);
}

.punchlines.showlef::before{
    z-index: -1;
    
    width: 100%;
    color: var(--color-dark);
    background-color: var(--color-light);
}
 

