/* Services start */
.services{
    background-color: var(--color-dark);
    display: flex;
    min-height: 100vh;
    align-items: start;
    border: 1px solid var(--b-color);
    border-bottom: none;
}

.serv-sec{
    /* padding: 8px 16px; */
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    width: 80%;
    position: relative;
    }

    
.srvc{
    height: 70vh;
    position: relative;
}

.srvc-dete{
    height:50vh;
    gap: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.srvc-img{
    flex: 1;
    width:30% ;
    height: 80%;
    overflow: hidden;
}
.srvc-img img{
    border-radius: 10%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; 
}


.srvc-head{
    background-color: var(--color-dark);
    border-bottom: 1px solid var(--b-color);
    color: var(--color-highlight);
    padding: 0px 4px;
    display: flex;
    justify-content: start;
    align-items: start;
    position: sticky; 
    top: 0;       
    z-index: 1;   
    font-family: 'Switzer-Regular';
    transition: 0.3s;
}

.srvc-head p{
    margin: 4px;

}

.srvc-body{
    flex: 1.5;
    padding: 4px 8px ;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: monospace;
    
    overflow: hidden;
    color: var(--color-light);
    
}

.srvc-body h1{
    /* font-family:Arial, Helvetica, sans-serif; */
    display: block;
    text-transform: uppercase;
    font-size: clamp(16px , 5vw, 40px);
    font-family: 'Switzer-Regular';
    /* mix-blend-mode: difference; */
    
}
.srvc-body p{
    color: var(--teririary-color);
    text-align: justify;
    margin: 0;
    font-size: clamp(12px , 3vw, 16px);
    /* mix-blend-mode: difference; */

}

@media (max-width: 600px) {

  .srvc-dete{
    padding: 4px 0px;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 8px;
    border-top: 1px solid var(--b-color);

  }

  .serv-sec{
    width: 100%;
  }

  .srvc-body{
    flex: 1;
    padding: 4px;
    width: 100%;
    

  }
  .srvc-head{
    display: none;
  }

  .srvc-img{
    width: 100%;
    height: 100%;
    align-items: start;
    overflow: hidden;
  }
.srvc-img img{
    border-radius: 35px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; 
    
}

  /* .expertise{
    display: none;
} */
/* .expertise-marquee{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    background-color: var(--color-highlight);
    color: white;
} */

}
/* End services */


/* 

.serv{
    background-color: var(--color-dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 8px 16px 8px 16px;
    justify-content: center; 
  align-content: center;
}

.cards{
    background-color: var(--color-dark);
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    align-items: center;
    outline: 1px solid var(--b-color);
    transition: 0.3s;
}




.cards:hover{
    filter: invert(1) hue-rotate(180deg);
} */
